@import url("https://fonts.googleapis.com/css2?family=Acme&family=Andada+Pro&family=Asap&family=Barlow:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 10px;
}

.overflow-y-auto {
  overflow-y: visible;
}

.hidden_element {
  opacity: 0;
  visibility: hidden;
}

.visible_element, .flexbox_container .animation_menu_visible {
  opacity: 1;
  visibility: visible;
}

.disabled_element {
  display: none !important;
}

.flexbox_container h1 {
  font-family: "Andada Pro", serif;
}
.flexbox_container h2 {
  font-family: "Barlow", sans-serif;
}
.flexbox_container h4 {
  font-family: "Acme", sans-serif;
}
.flexbox_container p {
  font-family: "Asap", sans-serif;
}
.flexbox_container a {
  text-decoration: none;
  color: #ffffff;
}
.flexbox_container .social_media {
  transition: 200ms ease;
  filter: grayscale(1);
}
.flexbox_container .social_media:hover {
  filter: grayscale(0);
  transition: 200ms ease;
}
.flexbox_container .codepen_link {
  color: #00642b;
}
.flexbox_container .github_link {
  color: #091e8a;
}
.flexbox_container .linkedin_link {
  color: #0077b5;
}
.flexbox_container .portifolio_link {
  color: #920e0e;
}
.flexbox_container .animation_menu_hidden {
  animation: hiddenItems 500ms ease-out forwards;
}
.flexbox_container .animation_menu_visible {
  animation: visibleItems 500ms ease;
}
.flexbox_container .icons_menu, .flexbox_container .menu_rightbar .list_buttons li, .menu_rightbar .list_buttons .flexbox_container li {
  color: #ffffff;
  font-size: 1rem;
}

.goNextAnimation {
  animation: goNext 700ms;
}

.goBackAnimation {
  animation: goBack 700ms;
}

.loadAnimationNext {
  animation: loadAnimationNext 700ms;
}

.loadAnimationBack {
  animation: loadAnimationBack 700ms;
}

#main_page {
  user-select: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#main_page .box_part {
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
#main_page .box_part .part {
  width: 100%;
}
#main_page .box_part .first_part {
  text-align: center;
}
#main_page .box_part .first_part img {
  width: 85%;
  min-width: 15rem;
  max-width: 25rem;
}
#main_page .box_part .last_part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
}
#main_page .box_part .last_part article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main_page .box_part .last_part article h2 {
  color: #262626;
  font-size: 2rem;
  font-weight: 800;
  background-color: transparent;
  text-transform: uppercase;
}
#main_page .box_part .last_part article h3 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 100;
  background-color: #262626;
  padding: 8px;
  width: 80%;
  text-align: center;
  border-radius: 5px;
}
#main_page .box_part .last_part .moreItens {
  height: 200px;
  overflow-y: auto;
  padding: 10px;
}
#main_page .box_part .last_part .list_of_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
}
#main_page .box_part .last_part .list_of_items .items {
  display: flex;
  justify-content: center;
  width: 100%;
}
#main_page .box_part .last_part .list_of_items .items a {
  width: 80%;
  font-family: "Asap";
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 500ms ease;
  z-index: 60;
  box-shadow: 2px 2px 0.75em #262626;
}
#main_page .box_part .last_part .list_of_items .items a:hover {
  transform: scale(1.05);
  transition: 500ms ease;
  box-shadow: -2px -2px 0.75em #262626;
}
#main_page .box_part .last_part .list_of_items .items .first_item {
  background-color: #BD4444;
}
#main_page .box_part .last_part .list_of_items .items .second_item {
  background-color: #4644BD;
}
#main_page .box_part .last_part .footer_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-weight: 600;
  padding: 0.5rem;
}
#main_page .box_part .last_part .footer_main .copy_text {
  text-align: center;
}
#main_page .box_part .last_part .footer_main .copy_text span {
  color: #8C2222;
  font-size: 1rem;
  font-weight: 800;
  background-color: transparent;
}
#main_page .box_part .last_part .footer_main .social_container {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
#main_page .box_part .last_part .footer_main .social_container a {
  color: #262626;
  font-size: 1.5rem;
  font-weight: 100;
  background-color: transparent;
}

.leftbar_menu_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  user-select: none;
  height: 100vh;
}
.leftbar_menu_container .heightMax, .leftbar_menu_container iframe, .leftbar_menu_container .container_itens .menu_itens {
  height: 100%;
}
.leftbar_menu_container .w-75perc {
  width: 75%;
}
.leftbar_menu_container .w-90perc {
  width: 90%;
}
.leftbar_menu_container .translateSlimMenu {
  animation: 500ms ease translateSlimMenu forwards;
}
.leftbar_menu_container .translateDefaultMenu {
  animation: 500ms ease translateDefaultMenu forwards;
}
.leftbar_menu_container .slinner_menu {
  width: 10%;
}
.leftbar_menu_container .default_menu {
  width: 35%;
}
.leftbar_menu_container .container_itens {
  width: 100%;
}
.leftbar_menu_container .container_itens .menu_itens {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: inherit;
  justify-content: flex-start;
  gap: 1em;
  height: 100vh;
  background-color: #262626;
  padding: 10px;
  padding-bottom: 5rem;
  overflow-x: hidden;
}
.leftbar_menu_container .container_itens .menu_itens::-webkit-scrollbar {
  width: 1px;
}
.leftbar_menu_container .container_itens .menu_itens::-webkit-scrollbar-thumb {
  background: transparent;
}
.leftbar_menu_container .container_itens .menu_itens .first_section_leftbar {
  width: 100%;
}
.leftbar_menu_container .container_itens .menu_itens .first_section_leftbar a {
  display: flex;
  justify-content: center;
}
.leftbar_menu_container .container_itens .menu_itens .first_section_leftbar a img {
  max-width: 12rem;
  min-width: 10rem;
  width: 70%;
}
.leftbar_menu_container .container_itens .menu_itens .second_section_leftbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  background-color: transparent;
}
.leftbar_menu_container .container_itens .menu_itens .second_section_leftbar .titles_menu {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.leftbar_menu_container .container_itens .menu_itens .second_section_leftbar .nav_links {
  width: 100%;
  overflow-x: hidden;
  margin-top: 5px;
  height: 35rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid rgba(190, 190, 190, 0.5568627451);
  border-bottom: 1px solid rgba(190, 190, 190, 0.5568627451);
  overflow-y: auto;
}
.leftbar_menu_container .container_itens .menu_itens .second_section_leftbar .nav_links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.leftbar_menu_container .container_itens .menu_itens .second_section_leftbar .nav_links ul li {
  width: 90%;
  border-radius: 5px;
  transition: 200ms ease;
}
.leftbar_menu_container .container_itens .menu_itens .second_section_leftbar .nav_links ul li a {
  width: 100%;
  padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1px;
  color: #d8d8d8;
  font-family: "Acme";
  text-transform: uppercase;
  letter-spacing: 1px;
}
.leftbar_menu_container .container_itens .menu_itens .second_section_leftbar .nav_links ul li:hover {
  transition: 200ms ease;
  transform: translate(10px);
  box-shadow: 2px 2px 0.75em #000000;
  background-color: #181616;
}
.leftbar_menu_container .container_itens .menu_itens .thirty_section_leftbar {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 200;
  background-color: transparent;
}
.leftbar_menu_container .container_itens .menu_itens .thirty_section_leftbar h2 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 200;
}
.leftbar_menu_container .container_itens .menu_itens .thirty_section_leftbar ul {
  list-style: none;
  display: flex;
  flex-direction: none;
  align-items: center;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}
.leftbar_menu_container .container_itens .menu_itens .thirty_section_leftbar ul .social_media {
  transition: 200ms ease-in;
  filter: sepia(100%);
}
.leftbar_menu_container .container_itens .menu_itens .thirty_section_leftbar ul .social_media:hover {
  filter: grayscale(0);
  transition: 200ms ease-out;
}
.leftbar_menu_container .container_itens .menu_itens .thirty_section_leftbar ul a {
  font-family: "Asap";
  font-size: 1rem;
}
.leftbar_menu_container iframe {
  width: 100%;
}

.menu_rightbar {
  position: fixed;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: 100vh;
  padding: 10px;
}
.menu_rightbar .menu_button, .menu_rightbar .list_buttons li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
  width: 65px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  background-color: #181616;
  box-shadow: 3px 3px 5px #262626;
  cursor: pointer;
}
.menu_rightbar .menu_button li, .menu_rightbar .list_buttons li li {
  background-color: #d8d8d8;
  height: 6px;
  border-radius: 10px;
}
.menu_rightbar .menu_button li:nth-child(1), .menu_rightbar .list_buttons li li:nth-child(1) {
  width: 100%;
}
.menu_rightbar .menu_button li:nth-child(2), .menu_rightbar .list_buttons li li:nth-child(2) {
  width: 70%;
}
.menu_rightbar .menu_button li:nth-child(3), .menu_rightbar .list_buttons li li:nth-child(3) {
  width: 40%;
}
.menu_rightbar .menu_button:hover, .menu_rightbar .list_buttons li:hover {
  box-shadow: -1px -1px 5px #262626;
}
.menu_rightbar .list_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  height: 85%;
  width: 100%;
}
.menu_rightbar .list_buttons li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  border-radius: 15%;
  padding: 5px;
  width: 70%;
}
.menu_rightbar .list_buttons li .button_menu {
  display: flex;
  flex-direction: auto;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  height: 100%;
}

.menu_mobile_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  box-shadow: -0.2rem 0 0.5rem #000000;
  justify-content: flex-end;
}
.menu_mobile_footer .box_icon {
  width: 22rem;
  background-color: #262626;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_mobile_footer .box_icon:active {
  background-color: #181616;
}
.menu_mobile_footer .box_icon i {
  color: #ffffff;
  font-size: 0.8rem;
}

.background_fullwindow, .contact_container, .search_container {
  overflow-y: auto;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(24, 22, 22, 0.9529411765);
}
.background_fullwindow::-webkit-scrollbar, .contact_container::-webkit-scrollbar, .search_container::-webkit-scrollbar {
  width: 1px;
}
.background_fullwindow::-webkit-scrollbar-thumb, .contact_container::-webkit-scrollbar-thumb, .search_container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.search_container .centralization_search_container {
  z-index: 30;
  padding: 0.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.search_container .centralization_search_container .keyBtn {
  border-radius: 0.4rem;
  padding: 0.3rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  font-family: "Asap";
  color: #262626;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #d8d8d8;
  box-shadow: 2px 2px 3px rgba(190, 190, 190, 0.5568627451);
  user-select: none;
}
.search_container .centralization_search_container .keyBtn:active {
  box-shadow: -2px -2px 3px rgba(190, 190, 190, 0.5568627451);
}
.search_container .centralization_search_container .keyBtn:hover {
  color: #ffffff;
  background-color: #262626;
}
.search_container .centralization_search_container .close_search_container {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.search_container .centralization_search_container .title_search_container h1 {
  color: #ffffff;
  font-family: "Barlow";
  text-transform: uppercase;
  font-size: 1.5rem;
}
.search_container .centralization_search_container .input_search_container .fieldset_search {
  border-radius: 7px;
  background-color: #181616;
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 4px;
}
.search_container .centralization_search_container .input_search_container .fieldset_search legend {
  margin-left: 10px;
  margin-bottom: -5px;
}
.search_container .centralization_search_container .input_search_container .fieldset_search legend .img_search {
  width: 5rem;
  min-width: 5rem;
}
.search_container .centralization_search_container .input_search_container .fieldset_search .icon_search, .search_container .centralization_search_container .input_search_container .fieldset_search .close_icon, .search_container .centralization_search_container .input_search_container .fieldset_search .search_icon {
  color: #ffffff;
}
.search_container .centralization_search_container .input_search_container .fieldset_search .search_icon {
  font-size: 1.2rem;
  margin-left: 1rem;
}
.search_container .centralization_search_container .input_search_container .fieldset_search .close_icon {
  font-size: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.search_container .centralization_search_container .input_search_container .fieldset_search .search_input {
  padding: 10px;
  width: 100%;
  padding-top: 8px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 1px solid transparent;
}
.search_container .centralization_search_container .input_search_container .fieldset_search .atalhos_input_search {
  display: none;
  pointer-events: none;
  flex-direction: row;
}
.search_container .centralization_search_container .input_search_container .fieldset_search .atalhos_input_search .keys_input {
  font-size: 0.7rem;
}
.search_container .centralization_search_container .list_anchors_search_container {
  background-color: #262626;
  box-shadow: 2px 2px 2px #8C2222;
  padding: 1rem;
  border-radius: 3px;
}
.search_container .centralization_search_container .list_anchors_search_container .list_container {
  list-style: none;
  height: 20rem;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 0.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.search_container .centralization_search_container .list_anchors_search_container .list_container .anchor_list {
  width: 80%;
  border-radius: 4px;
  background-color: #181616;
  box-shadow: 2px 2px 3px #000000;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  font-family: "Asap";
}
.search_container .centralization_search_container .list_anchors_search_container .list_container .anchor_list p {
  overflow-x: auto;
}
.search_container .centralization_search_container .list_anchors_search_container .list_container .anchor_list i {
  font-size: 1.5rem;
}
.search_container .centralization_search_container .list_anchors_search_container .list_container .anchor_list:hover {
  background-color: #000000;
  transition: 500ms ease;
}
.search_container .centralization_search_container .list_anchors_search_container .list_container .anchor_list:hover i {
  animation: 500ms infiniteArrow ease forwards;
}

.contact_container {
  align-items: flex-start;
}
.contact_container .centralization_contact_container {
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding: 1rem;
}
.contact_container .centralization_contact_container .box_close {
  width: 80%;
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
  cursor: pointer;
}
.contact_container .centralization_contact_container .box_close i:hover {
  color: #BD4444;
}
.contact_container .centralization_contact_container .box_article {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.contact_container .centralization_contact_container .box_article .title_close {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 800;
  word-spacing: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.contact_container .centralization_contact_container .box_article .container_sections {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.contact_container .centralization_contact_container .box_article .container_sections .section_close {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contact_container .centralization_contact_container .box_article .container_sections .section_close .subtitle_close {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 2px 5px #000;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}
.contact_container .centralization_contact_container .box_article .container_sections .section_close article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.contact_container .centralization_contact_container .box_article .container_sections .section_close article p {
  text-align: justify;
  color: #d8d8d8;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.contact_container .centralization_contact_container .box_article .container_sections .section_close article .midias_contact {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
}
.contact_container .centralization_contact_container .box_article .container_sections .section_close article .midias_contact div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.contact_container .centralization_contact_container .box_article .container_sections .section_close article .midias_contact div li {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
.contact_container .centralization_contact_container .box_article .container_sections .section_close article .lineLink {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.container_template {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.container_template .text_template {
  padding: 1rem;
  height: 100vh;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  text-align: justify;
  font-size: 1rem;
  font-family: "Asap";
  overflow-y: auto;
}
.container_template .text_template .title_template {
  text-decoration: line-through;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 0.8rem;
  font-family: "Andada Pro";
}
.container_template .text_template .list_ilustrations {
  list-style: disc;
  flex-direction: column;
  display: flex;
  width: 90%;
}
.container_template .text_template .title_inset {
  text-transform: uppercase;
}
.container_template .text_template .color_text {
  font-weight: 700;
}
.container_template .text_template .bold_text {
  font-weight: 900;
}

@keyframes goNext {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1200px);
  }
}
@keyframes loadAnimationNext {
  0% {
    transform: translateY(1200px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes goBack {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1200px);
  }
}
@keyframes loadAnimationBack {
  0% {
    transform: translateY(-1200px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes visibleItems {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 80%;
  }
}
@keyframes hiddenItems {
  0% {
    width: 80%;
    opacity: 1;
    z-index: 50;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    opacity: 0;
    z-index: -1;
  }
}
@keyframes goingInfite {
  0% {
    transform: translate(10px);
  }
  100% {
    transform: translate(-10px);
  }
}
@keyframes translateSlimMenu {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-16rem);
  }
}
@keyframes translateDefaultMenu {
  0% {
    transform: translate(-16rem);
  }
  100% {
    transform: translate(-0.5rem);
  }
}
@keyframes infiniteArrow {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(5px);
  }
}
@media (min-width: 500px) {
  #main_page .box_part .last_part article h2 {
    font-size: 2.5rem;
  }
  #main_page .box_part .last_part article h3 {
    font-size: 1.3rem;
  }
  #main_page .box_part .last_part .list_of_items .items a {
    font-size: 1.3rem;
  }
}
@media (min-width: 800px) {
  #main_page .box_part .last_part {
    align-items: center;
  }
  #main_page .box_part .last_part article {
    width: 80%;
  }
  #main_page .box_part .last_part .list_of_items {
    flex-wrap: wrap;
    flex-direction: initial;
    width: 80%;
  }
}
@media (min-width: 1000px) {
  #main_page .box_part .last_part article {
    width: 50rem;
  }
  #main_page .box_part .last_part .list_of_items {
    width: 50rem;
  }
  #main_page .box_part .last_part .list_of_items .items {
    width: 40%;
  }
  #main_page .box_part .last_part .list_of_items .items a {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  #main_page .box_part {
    width: 45rem;
  }
  #main_page .box_part .first_part {
    text-align: left;
  }
  #main_page .box_part .first_part img {
    width: 100%;
    max-width: 30rem;
  }
  #main_page .box_part .last_part {
    align-items: flex-end;
  }
  #main_page .box_part .last_part article {
    width: 100%;
    align-items: flex-start;
  }
  #main_page .box_part .last_part article h3 {
    width: 35%;
  }
  #main_page .box_part .last_part .list_of_items {
    width: 100%;
    justify-content: flex-start;
  }
  #main_page .box_part .last_part .footer_main {
    align-items: flex-start;
  }
  #main_page .box_part .last_part .footer_main .social_container {
    justify-content: flex-start;
  }
}
@media (max-height: 585px) {
  .search_container {
    align-items: flex-start;
  }
}
@media (min-width: 400px) {
  .search_container .centralization_search_container {
    align-items: center;
  }
  .search_container .centralization_search_container .close_search_container,
.search_container .centralization_search_container .input_search_container,
.search_container .centralization_search_container .list_anchors_search_container {
    width: 80%;
  }
  .search_container .centralization_search_container .title_search_container {
    text-align: center;
    width: 25rem;
  }
  .search_container .centralization_search_container .title_search_container h1 {
    font-size: 2rem;
  }
  .contact_container .centralization_contact_container .box_close {
    text-align: end;
  }
  .contact_container .centralization_contact_container .box_article {
    align-items: flex-start;
  }
  .contact_container .centralization_contact_container .box_article .container_sections .section_close {
    align-items: flex-start;
  }
  .contact_container .centralization_contact_container .box_article .container_sections .section_close .subtitle_close {
    text-align: left;
  }
  .contact_container .centralization_contact_container .box_article .container_sections .section_close article {
    align-items: flex-start;
  }
  .contact_container .centralization_contact_container .box_article .container_sections .section_close article .midias_contact div {
    justify-content: flex-start;
  }
}
@media (min-width: 800px) {
  .leftbar_menu_container .container_itens {
    display: flex !important;
    width: 35%;
  }
  .leftbar_menu_container .container_itens .menu_itens {
    padding-bottom: 1rem;
  }
  .leftbar_menu_container .container_itens .menu_itens .first_section_leftbar a {
    justify-content: start;
  }
  .leftbar_menu_container .container_itens .menu_itens .second_section_leftbar .titles_menu {
    text-align: left;
  }
  .leftbar_menu_container .container_itens .menu_itens .second_section_leftbar .nav_links {
    height: 30rem;
  }
  .leftbar_menu_container .container_itens .menu_itens::-webkit-scrollbar {
    width: 5px;
  }
  .leftbar_menu_container .container_itens .menu_itens::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    border-radius: 10px;
  }
  .leftbar_menu_container .iframe_menubar {
    width: 65%;
  }
  .menu_rightbar {
    opacity: 1;
    visibility: visible;
  }
  .menu_mobile_footer {
    display: none;
  }
  .search_container .centralization_search_container .input_search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search_container .centralization_search_container .input_search_container .fieldset_search {
    width: 40rem;
  }
  .search_container .centralization_search_container .input_search_container .fieldset_search legend {
    margin-left: 1.5rem;
  }
  .search_container .centralization_search_container .input_search_container .fieldset_search .atalhos_input_search {
    opacity: 0.7;
    padding-right: 10px;
    margin-top: -5px;
    display: flex;
    flex-direction: row;
  }
  .search_container .centralization_search_container .input_search_container .fieldset_search .atalhos_input_search p {
    color: #ffffff;
    padding: 0.3rem;
  }
  .search_container .centralization_search_container .input_search_container .fieldset_search .atalhos_input_search .keys_input {
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact_container .centralization_contact_container .box_article .title_close {
    font-size: 4.5rem;
  }
  .contact_container .centralization_contact_container .box_article .container_sections .section_close .subtitle_close {
    font-size: 2rem;
  }
  .contact_container .centralization_contact_container .box_article .container_sections .section_close article p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1100px) {
  .leftbar_menu_container .container_itens {
    width: 25%;
  }
  .leftbar_menu_container .iframe_menubar {
    width: 75%;
  }
  .search_container .centralization_search_container .close_search_container,
.search_container .centralization_search_container .input_search_container,
.search_container .centralization_search_container .list_anchors_search_container {
    width: 55rem;
  }
  .contact_container .centralization_contact_container .box_article .container_sections .section_close article p {
    font-size: 1.3rem;
  }
}
@media (min-width: 1600px) {
  .search_container .centralization_search_container .keyBtn {
    font-size: 1.3rem;
  }
  .search_container .centralization_search_container .title_search_container h1 {
    font-size: 3rem;
  }
  .search_container .centralization_search_container .input_search_container .fieldset_search {
    width: 80%;
    padding-bottom: 6px;
  }
  .search_container .centralization_search_container .input_search_container .fieldset_search legend .img_search {
    width: 8rem;
  }
  .search_container .centralization_search_container .input_search_container .fieldset_search .close_icon {
    font-size: 1.3rem;
  }
  .search_container .centralization_search_container .input_search_container .fieldset_search .search_icon {
    font-size: 1.5rem;
  }
  .search_container .centralization_search_container .input_search_container .fieldset_search .search_input {
    font-size: 1.2rem;
  }
  .search_container .centralization_search_container .input_search_container .fieldset_search .atalhos_input_search p, .search_container .centralization_search_container .input_search_container .fieldset_search .keys_input {
    font-size: 1rem;
  }
  .search_container .centralization_search_container .list_anchors_search_container .list_container .anchor_list {
    font-size: 1.3rem;
  }
  .search_container .centralization_search_container .list_anchors_search_container .list_container .anchor_list i {
    font-size: 2.5rem;
  }
}
@media (max-height: 500px) {
  .container_template .text_template {
    justify-content: flex-start;
  }
}
@media (min-width: 480px) {
  .container_template .text_template {
    gap: 1.5rem;
    padding: 2rem;
    padding-bottom: 5rem;
    font-size: 1.2rem;
  }
  .container_template .text_template .title_template {
    font-size: 2.5rem;
  }
}
@media (min-width: 824px) {
  .container_template .text_template {
    align-items: flex-start;
    text-align: left;
  }
  .container_template .text_template .title_template {
    font-size: 3rem;
  }
  .container_template .text_template .list_ilustrations {
    padding-left: 2rem;
  }
}
@media (min-width: 900px) {
  .container_template .text_template {
    padding: 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
