//COLORS
$primary-white-color: #ffffff;
$secondary-white-color: #d8d8d8;
$thirty-white-color: #bebebe8e;

$primary-red-color: #BD4444;
$secondary-red-color: #8C2222;

$primary-blue-color: #4644BD;
$secondary-blue-color: #0F0D82;

$primary-black-color: #262626;
$secondary-black-color: #000000;
$thirty-black-color: #181616;
$fourty-black-color: #181616f2;

//LINKS
$codepen: #00642b;
$github: #091e8a;
$linkedin: #0077b5;
$portifolio: #920e0e;