.container_iframes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &::-webkit-scrollbar{ width: 0px; }
    &::-webkit-scrollbar-track{ background-color: transparent; }

    .container_iframe_about{
        // border: 1px solid red;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0.5rem;
        gap: 2rem;
        font-family: Arial, Helvetica, sans-serif;

        .title_page{
            margin-top: 1rem;
            padding: 0.8rem;
            border-radius: 10px;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            font-size: $ex-small-size-1;
            font-weight: 800;
            box-shadow: 2px 2px 5px $fourty-white-color;
            color: $primary-white-color;
        }

        .fieldset_iframe{
            width: 100%;
            box-shadow: 2px 2px 5px $fourty-white-color;
            padding: 1rem 2rem 2rem 2rem;
            border-radius: 10px;
            background-color: $primary-white-color;
            border: none;

            legend{
                font-weight: 800;
                text-transform: uppercase;
                box-shadow: 2px 2px 5px $fourty-white-color;
                padding: 2px 5px 2px 8px;
                border-radius: 3px;
                background-color: $primary-white-color;
            }

            .box_article{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                p{
                    text-align: justify;
                    font-size: $ex-small-size-1;
                }
            }
        }

    }


    .container_iframe_overview{
        // border: 1px solid red;
        padding-bottom: 4rem;
        width: 100%;
        background: $secondary-black-color;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .container_iframe_boxes{
            width: 100%;
            // padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 10px;

            h2{ 
                color: $primary-white-color;
                text-transform: uppercase;
                font-family: Arial, Helvetica, sans-serif;
            }
        }

        .ilustration_iframe_box{
            @extend .container_iframe_boxes;
            padding: 1rem;

            .painel_ilustration{
                background-color: $primary-white-color;
                border-radius: 0.2rem;
                width: 100%;
                height: 25rem;
            }
        }

        .code_iframe_box{
            @extend .container_iframe_boxes;
            padding: 5px;

            .painel_code{
                background-color: $primary-black-color;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                border: 1px solid $primary-white-color;
                border-radius: 0.5rem;
                padding: 10px;
                gap: 1rem;

                .list_tech{
                    // border: 1px solid blue;
                    width: 100%;
                    list-style: none;
                    overflow-x: auto;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    justify-content: flex-start;
                    padding: 10px 0 10px 0;
                    align-items: center;

                    &::-webkit-scrollbar{ width: 1px; }
                    &::-webkit-scrollbar-thumb{ background-color: transparent; }

                    .btn_default{
                        background-color: $secondary-black-color;
                        box-shadow: 5px 5px 6px $primary-black-color;
                    }

                    // .btn_actived{
                    //     background-color: $fourty-red-color;
                    //     box-shadow: 4px 4px 5px $secondary-red-color;
                    // }

                    .btn_tech{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        min-width: 8rem;
                        border-radius: 0.4rem;
                        padding: 12px 1rem 12px 1rem;
                        font-family: Arial, Helvetica, sans-serif;
                        color: $primary-white-color;
                        font-size: $ex-small-size-1;
                        cursor: pointer;
                    }
                }

                .editor_code{
                    border: 1px solid $primary-white-color;
                    background-color: $secondary-black-color;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    font-family: Arial, Helvetica, sans-serif;

                    .files_by_tech{
                        // border: 1px solid blue;
                        width: 100%;
                        display: flex;
                        flex-direction: row;

                        .files_list{
                            border-bottom: 1px solid $primary-white-color;
                            list-style: none;
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            color: white;
                            gap: 1px;
                            overflow-x: auto;
        
                            &::-webkit-scrollbar{ width: 1px; }
                            &::-webkit-scrollbar-thumb{ background-color: transparent; }

                            .html_color{ color: #fd9e75}
                            .css_color{ color: #6390f7}
                            .js_color{ color: #f1e17a}

                            .default_item{
                                background: $primary-black-color;
                            }

                            .actived_item{
                                background: $thirty-black-color;
                            }

                            .file_item{
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                min-width: 10rem;
                                padding: 10px;
                                height: 100%;
                                gap: 10px;
                                // color: $primary-white-color;

                                i{ font-size: $smallest-font-size; }
                                p{ font-size: $ex-small-size-1; }
                            }
                        }

                    }

                    .code_html{
                        // border: 1px solid red;
                        color: white;
                        padding: 10px 10px 10px 1rem;
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        overflow-x: auto;
                        width: 100%;

                        &::-webkit-scrollbar{ width: 1px; }
                        &::-webkit-scrollbar-thumb{ background-color: transparent; }

                        .line_code{
                            // border: 1px solid red;
                            display: flex;
                            font-size: $ex-small-size-1;
                            justify-content: flex-start;
                            gap: 2rem;

                            .number_code{
                                user-select: none;
                            }

                            .code_container{
                                width: 90%;
                                flex-direction: row;
                                display: flex;
                                font-weight: 700;
                                // border: 1px solid blue;

                                .tagsNameHTML{
                                    color: $fourty-red-color;
                                }

                                .tagsCharHTML{
                                    color: $thirty-white-color;
                                }

                                .tagsClass{
                                    color: $fourty-white-color;

                                    &::before{
                                        content: "";
                                        padding: 2px;
                                    }
                                }

                                .className{
                                    color: $secondary-red-color;
                                }

                                .texts{
                                    color: $primary-white-color;
                                }
                            }
                        }
                    }



                }
            }
        }
    }
}