.leftbar_menu_container{
    @include displayMode(flex, row, center, flex-start, 1px);
    @include positionDiv(fixed, 0, 0, 0, 0);
    user-select: none;
    height: 100vh;

    .heightMax{ height: 100% }
    .w-75perc{ width: 75%; }
    .w-90perc{ width: 90%; }

    .translateSlimMenu{ animation: 500ms ease translateSlimMenu forwards};
    .translateDefaultMenu{ animation: 500ms ease translateDefaultMenu forwards};

    .slinner_menu{ width: 10%; }
    .default_menu{ width: 35%; }

    .container_itens{
        // @include lineDiv(green);
        // @include displayMode(flex, row, flex-start, flex-start, 0);
        width: 100%;

        .menu_itens{
            width: 100%;
            // @include lineDiv(red);
            @include displayMode(flex, column, inherit, flex-start, 1em);
            @extend .heightMax;
            height: 100vh;
            background-color: $primary-black-color;
            padding: 10px;
            padding-bottom: 5rem;
            overflow-x: hidden;

            &::-webkit-scrollbar{ width: 1px; };
            &::-webkit-scrollbar-thumb{ background: transparent };
    
            // .sections_leftbar{ @include displayMode(flex, column, none, center, 1px) }
    
            .first_section_leftbar{
                // @include lineDiv(blue);
                width: 100%;
    
                a{
                    display: flex;
                    justify-content: center;
    
                    img{
                        max-width: 12rem;
                        min-width: 10rem;
                        width: 70%;
                    }
                } 
            }
    
            .second_section_leftbar{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                @include defaultText($primary-white-color, $ex-small-size-1, 400, transparent);
    
                .titles_menu{
                    // border: 1px solid red;
                    width: 100%;
                    text-align: center;
                    text-transform: uppercase;
                }

                .nav_links{
                    // border: 1px solid red;
                    width: 100%;
                    overflow-x: hidden;
                    margin-top: 5px;
                    height: 35rem;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-top: 1px solid $thirty-white-color;
                    border-bottom: 1px solid $thirty-white-color;
                    overflow-y: auto;
    
                    ul{
                        @include displayMode(flex, column, flex-start, flex-start, 10px);
                        padding-top: 10px;
                        padding-bottom: 10px;

    
                        li{
                            // @include lineDiv(blue);
                            width: 90%;
                            border-radius: 5px;
                            transition: 200ms ease;
    
                            a{
                                width: 100%;
                                padding: 2px;
                                @include displayMode(flex, row, center, flex-start, 1px);
                                color: $secondary-white-color;
                                font-family: 'Acme';
                                text-transform: uppercase;
                                letter-spacing: 1px;
                            }
    
                            &:hover{
                                transition: 200ms ease;
                                transform: translate(10px);
                                box-shadow: 2px 2px 0.75em $secondary-black-color;
                                background-color: $thirty-black-color;
                            }
                        }
                    }
                }
            }
    
            .thirty_section_leftbar{
                // @include lineDiv(blue);
                // @extend .sections_leftbar;
                @include defaultText($primary-white-color, $ex-small-size-1, 200, transparent);
    
                h2{
                    font-size: $ex-small-size-1;
                    text-align: center;
                    margin-bottom: 10px;
                    font-weight: 200;
                }
                ul{
                    list-style: none;
                    .social_media{ transition: 200ms ease-in; filter: sepia(100%);}
                    .social_media:hover{ filter: grayscale(0); transition: 200ms ease-out; }
    
                    @include displayMode(flex, none, center, center, 1em);
                    flex-wrap: wrap;
    
                    a{ font-family: 'Asap'; font-size: $ex-small-size-1}
                }
            }
        }
    }

    iframe{
        // @include lineDiv(blue);
        width: 100%;
        @extend .heightMax;
    }
}

.menu_rightbar{
    @include positionDiv(fixed, auto, 0, 0, 0);
    @include displayMode(flex, column-reverse, center, flex-start, 10px);
    // border: 1px solid blue;
    // width: 7%;
    height: 100vh;
    padding: 10px;

    .menu_button{
        @include displayMode(flex, column, flex-end, center, 5px);
        // @include lineDiv(red);
        width: 65px;
        height: 50px;
        padding: 5px;
        border-radius: 10px;
        background-color: $thirty-black-color;
        box-shadow: 3px 3px 5px $primary-black-color;
        cursor: pointer;
    
        li{ 
            background-color: $secondary-white-color;
            height: 6px;
            border-radius: 10px;
    
            &:nth-child(1){
                width: 100%;
            }
            &:nth-child(2){
                width: 70%;
            }
            &:nth-child(3){
                width: 40%;
            }
        }
        
        &:hover{
            box-shadow: -1px -1px 5px $primary-black-color;
        }
    }

    .list_buttons{
        @include displayMode(flex, column, center, flex-end, 10px);
        // @include lineDiv(green);
        height: 85%;
        width: 100%;

        li{
            @include displayMode(flex, column, center, center, 0);
            @extend .menu_button;
            @extend .icons_menu;
            border-radius: 15%;
            padding: 5px;
            width: 70%;

            .button_menu{
                @include displayMode(flex, auto, center, center, 0);
                width: 100%;
                height: 100%;
            }
        }
    }
}

.menu_mobile_footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    box-shadow: -0.2rem 0 0.5rem $secondary-black-color;
    align-items: flex-end;
    justify-content: flex-end;
    // height: 100vh;

    .box_icon{
        width: 22rem;
        background-color: $primary-black-color;
        padding: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:active{ background-color: $thirty-black-color; }

        i{
            color: $primary-white-color;
            font-size: 1.2rem;
        }
    }
}

.background_fullwindow{
    overflow-y: auto;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $fourty-black-color;
}

.search_container{
    @extend .background_fullwindow;

    .centralization_search_container{
        z-index: 30;
        padding: 0.3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        // border: 1px solid red;

        .keyBtn{
            border-radius: 0.4rem;
            padding: 0.3rem;
            padding-right: 0.8rem;
            padding-left: 0.8rem;
            font-family: 'Asap';
            color: $primary-black-color;
            font-size: 0.8rem;
            font-weight: 500;
            background-color: $secondary-white-color;
            box-shadow: 2px 2px 3px $thirty-white-color;
            user-select: none;

            &:active{ box-shadow: -2px -2px 3px $thirty-white-color; }
            &:hover{
                color: $primary-white-color;
                background-color: $primary-black-color;
            }
        }

        .close_search_container{
            // border: 1px solid red;
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
        }

        .title_search_container{
            h1{
                color: $primary-white-color;
                font-family: 'Barlow';
                text-transform: uppercase;
                font-size: $smallest-font-size;
            }
        }

        .input_search_container{
            // border: 1px solid red;
            
            .fieldset_search{
                border-radius: 7px;
                background-color: $thirty-black-color;
                display: flex;
                flex-direction: row;
                border: none;
                justify-content: center;
                align-items: center;
                padding-bottom: 4px;

                legend{
                    margin-left: 10px;
                    margin-bottom: -5px;
                    .img_search{ width: 5rem; min-width: 5rem; }
                }

                .icon_search{
                    color: $primary-white-color;
                    width: 10%;
                    // text-align: center;  
                    // border: 1px solid red;
                }

                .search_icon{ 
                    @extend .icon_search; 
                    font-size: 1.2rem;
                    text-align: right;  
                }
                .close_icon{ 
                    @extend .icon_search; 
                    font-size: 1rem;
                    text-align: left;
                    cursor: pointer;
                }

                .search_input{
                    padding: 10px;
                    width: 80%;
                    padding-top: 8px;
                    color: $primary-white-color;
                    background-color: transparent;
                    border: 1px solid transparent;
                    outline: 1px solid transparent;
                }

                .atalhos_input_search{
                    // border: 1px solid red;
                    display: none;
                    flex-direction: row;

                    .keys_input{
                        font-size: 0.7rem;
                    }
                }
            }
        }

        .list_anchors_search_container{
            // border: 1px solid blue;
            background-color: $primary-black-color;
            box-shadow: 2px 2px 2px $secondary-red-color;
            padding: 1rem;
            border-radius: 3px;

            .list_container{
                list-style: none;
                height: 20rem;
                overflow-y: auto;
                gap: 0.8rem;
                display: flex;
                flex-direction: column;
                width: 100%;
                
                .anchor_list{
                    border-radius: 4px;
                    background-color: $thirty-black-color;
                    box-shadow: 2px 2px 3px $secondary-black-color;
                    color: $primary-white-color;
                    padding: 0.5rem;
                    font-size: $ex-small-size-1;
                    font-weight: 500;
                    display: flex;
                    flex-direction: row;
                    cursor: pointer;
                    align-items: center;
                    justify-content: space-between;
                    font-family: 'Asap';

                    i { font-size: $smallest-font-size; }

                    &:hover{
                        i { animation: 1s  }
                    }
                }

            }
        }
    }
}