//ANIMATIONS
#main_page{
    user-select: none;
    // @include lineDiv(blue);
    height: 100vh;
    @include displayMode(flex, column, center, center, 10px);

    .box_part{
        z-index: 50;
        @include displayMode(flex, column, center, center, 10px);
        // @include lineDiv(green);
        width: 100%;

        .part{
            width: 100%;
        }
    
        .first_part{
            // @include lineDiv(blue);
            text-align: center;

            img{
                width: 85%;
                min-width: 15rem;
                max-width: 25rem;
            }

        } 

        .last_part{
            // @include lineDiv(blue);
            @include displayMode(flex, column, flex-start, center, 2em);

            article{
                width: 100%;
                // border: 1px solid green;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                h2{
                    @include defaultText($primary-black-color, $smaller-font-size, 800, transparent);
                    text-transform: uppercase;
                }

                h3{
                    @include defaultText($primary-white-color, $ex-small-size-1, 100, $primary-black-color);
                    padding: 8px;
                    width: 80%;
                    text-align: center;
                    border-radius: 5px;
                    // border: 1px solid red;
                }
            }

            .moreItens{
                height: 200px;
                overflow-y: auto;
                padding: 10px;
            }

            .list_of_items{
                // @include lineDiv(blue);
                @include displayMode(flex, column, center, center, 0.8rem);
                width: 100%;

                .items{
                    // @include lineDiv(red);
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    a{
                        // border: 1px solid green;
                        width: 80%;
                        font-family: 'Asap';
                        border-radius: 0.5rem;
                        text-align: center;
                        font-size: $ex-small-size-1;
                        padding: 0.5rem;
                        cursor: pointer;
                        transition: 500ms ease;
                        z-index: 60;
                        box-shadow: 2px 2px 0.75em $primary-black-color;


                        &:hover{
                            transform: scale(1.05);
                            transition: 500ms ease;
                            box-shadow: -2px -2px 0.75em $primary-black-color;
                        }
                    }

                    .first_item{
                        background-color: $primary-red-color;
                    }
                    .second_item{
                        background-color: $primary-blue-color;
                    }
                }
            }

            .footer_main{
                // @include lineDiv(yellow);
                width: 100%;
                @include displayMode(flex, column, center, center, 1em);
                font-weight: 600;
                padding: 0.5rem;

                .copy_text{
                    // border: 1px solid blue;
                    text-align: center;

                    span{ 
                        @include defaultText($secondary-red-color, $ex-small-size-1, 800, transparent); 
                    }
                }

                .social_container{
                    // border: 1px solid blue;
                    width: 100%;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    gap: 0.5rem;
                    a{ @include defaultText($primary-black-color, $smallest-font-size, 100, transparent); }
                }
            }
        }
    }
}