//BIG
$bigest-font-size: 5.5rem;
$bigger-font-size: 5rem;
$big-font-size: 4.5rem;

//MIDDLE
$middlest-font-size: 4rem;
$middler-font-size: 3.5rem;
$middle-font-size: 3rem;

//SMALL
$small-font-size: 2.5rem;
$smaller-font-size: 2rem;
$smallest-font-size: 1.5rem;

//EXTREME SMALL
$ex-small-size-1: 1rem;
$ex-small-size-2: 0.5rem;
