@media (max-height: 750px){
    #leftbar_menu_container aside{ overflow-y: auto; justify-content: initial;}
}

@media (min-width: 1900px){
    .menu_rightbar{
        width: 4%;
    }

    #leftbar_menu_container aside{
        .second_section_leftbar,
        .thirty_section_leftbar h2,
        .thirty_section_leftbar ul a{ font-size: $smallest-font-size; }
    } 
}

@media (min-width: 2700px){
    #leftbar_menu_container aside{
        .second_section_leftbar,
        .thirty_section_leftbar h2,
        .thirty_section_leftbar ul a{ font-size: $smaller-font-size; }
        .first_section_leftbar a img{ 
            max-width: 400px;
            width: 100%;
         }
    } 

    .flexbox_container .menu_rightbar{
        .menu_button{
            width: 100px;
            height: 80px;

            li{
                height: 10px;
            }
        }
        .list_buttons li{
            font-size: $smaller-font-size;
        }
    } 
}

@media (max-width: 1130px){
    #leftbar_menu_container aside .first_section_leftbar a img{
        max-width: 200px;
    }

    .menu_rightbar{
        width: 8%;

        .list_buttons li{
            width: 100%;
        }
    } 
}