@media (min-width: 800px){
    .container_itens{
        display: flex !important;
        width: 35% !important;

        .menu_itens{
            padding-bottom: 1rem !important;

            .search_mobile_menu{ 
                display: none !important;
            }

            .second_section_leftbar .nav_links{
                height: 30rem !important;
            }

            &::-webkit-scrollbar{ width: 5px !important; };
            &::-webkit-scrollbar-thumb{ 
                background-color: #d8d8d8 !important;
                border-radius: 10px !important; 
            };
        }
    }

    .iframe_menubar{
        width: 60% !important;
    }

    .menu_rightbar{
        opacity: 1;
        visibility: visible;
        // width: 12%;
    }

    .menu_mobile_footer{
        display: none;
    }
    
}