@media (max-height: 500px){
    #main_page{
        justify-content: flex-start;
        padding: 1rem 0 1rem 0;
    }
}

@media (min-width: 500px){
    #main_page .box_part .last_part{
        article{
            h2{
                font-size: $small-font-size;
            }
            
            h3{
                font-size: 1.3rem;
            }
        }

        .list_of_items .items a{ font-size: 1.3rem; }
    }  
}

@media (min-width: 800px){
    #main_page .box_part .last_part{
        align-items: center;

        article{
            width: 80%;
        }

        .list_of_items{
            flex-wrap: wrap;
            flex-direction: initial;
            width: 80%;
        }
    }
}

@media (min-width: 1000px){
    #main_page .box_part .last_part{
        article{ width: 50rem; }
        .list_of_items{
            width: 50rem;
    
            .items{
                width: 40%;
        
                a{ width: 100%; }
            }
        } 
    } 
}

@media (min-width: 1400px){
    #main_page .box_part{
        width: 45rem;
        
        .first_part{ 
            text-align: left;

            img{
                width: 100%;
                max-width: 30rem;
            }
        }

        .last_part{
            align-items: flex-end;

            article{ 
                width: 100%;
                align-items: flex-start;

                h3{
                    width: 35%;
                }
            }

            .list_of_items{
                width: 100%;
                justify-content: flex-start;
            }

            .footer_main{
                align-items: flex-start;

                .social_container{
                    justify-content: flex-start;
                }
            }
        }
    }
}